html { scroll-behavior: smooth; }

.section {
  min-height: 100vh;
  opacity: 0;
  transform: translateY(80px);
  transition: all 1s ease-in-out;  /* 1 second slow transition */
  transition-delay: 0.2s;         /* thoda delay before start */
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}
